.product-category {
    display: flex;
    justify-content: space-around;
}

.product-sample-area {
    display: flex;
    justify-content: space-around;
}

.product-index-area {
    display: flex;
    justify-content: center;
}
.product-index-area .handle-area {
    display: flex;
    flex-direction: column;
}
.guide-info {
    display: flex;
    justify-content: space-around;
}